.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black ;
  }
  
  .task-form-container {
    border: solid 1px black;
    background-color: #45475a;
    min-height: 400px;
    min-width: 300px;  
    max-width: 600px;  
    display: flex;
    flex-direction: column;
    padding: 20px; 
    border-radius:10px ; 
}
  
  .main-heading {
    color: white;
    text-align: center;
  }
  
  .input-box {
    background-color: white;
    width: 100%;  
    padding: 5px;  
    box-sizing: border-box; 
    border: none; 
}
  
  .box {
    border-radius: 7px !important;
    height: 30px;
     
  }
   
  .input-button {
    background-color: #6273a4;
    cursor: pointer;
    color: white;
    width: 100px;  
    padding: 10px;  
    box-sizing: border-box;  
    margin-top: 10px; 
    border: none;
}
  
  .un-ordered-list {
    list-style-type: none;
    padding-left: 0px !important;
  }